.content {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.side-image {
  width: 400px;
}
.side-image img {
  max-width: 100%;
  float: right;
  padding: 20px 0px;
}

.side-text {
  font-size: 30px;
  text-align: left;
  padding: 0px 15px;
  max-width: 66.666666%;
}
.side-text a {
  text-decoration: none;
  color: #43666d;
}

@media screen and (max-width: 600px) {
  .content {
    display: block;
  }

  .side-text {
    max-width: 100%;
    text-align: left;
    /* width: 600px; */
  }

  .side-image {
    display: none;
  }
}
