body {
  max-width: 1200px;
  margin: 0px auto;
  font-family: "Lateef", cursive;
}

body h1 {
  color: #41261b;
  text-align: center;

  font-size: 50px;
}

.wrapper {
  /* content: center; */
}

nav {
  /* padding: 50px; */
  background-color: #e3dbc4;
}

nav ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  /*	justify-content: space-between;*/
  padding: 10px 20%;
  font-size: 300%;
}

.head-image {
  background-color: #e4dbc4;
}

.head-image img {
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #41261c;
}
nav a:hover {
  color: #a6a386;
}

.menu {
  display: none;
}

#mobile {
  display: none;
}

footer {
  /* background-color: #e3dbc4; */
  color: #424138;
  font-size: 20px;
  /* position: fixed; */
  bottom: 0;
  max-width: 1200px;
  width: 100%;
  padding: 0px 10px 0px 10px;
  flex-shrink: 0;
  text-align: center;
  /* height: 80px; */
}

footer a {
  text-decoration: none;
  color: #424138;
}

@media screen and (max-width: 800px) {
  nav {
    display: none;
  }

  #mobile {
    display: block;
    background: #e3dbc4;
  }

  .menu {
    display: block;
    width: 95%;
    margin: 10px auto;
  }

  /* #content {
        flex-direction: column;
      } */

  main {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  #mobile button {
    display: block;
    margin: 0 auto;
    padding-bottom: 3px;
  }

  .hamburger {
    display: block;
    background: none;
    color: #41261b;
    border: none;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 2000;
  }

  .cross {
    display: block;
    background: none;
    color: #41261b;
    border: none;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 2000;
  }

  .menu {
    z-index: 1000;
    font-weight: bold;
    width: 97%;
    background: #41261b;
    position: absolute;
    text-align: center;
  }

  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 40px;
  }

  .menu li {
    background: #ffffff;
    padding: 15px 0;
    border-bottom: #dddddd 1px solid;
  }

  .menu li:hover {
    background: #ffffff;
  }

  .menu a {
    text-decoration: none;
    color: #41261b;
  }

  .menu a:hover {
    color: #666;
  }
}

/* Images */

.row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 23.3333%;
  max-width: 23.3333%;
  padding: 0 0.83333%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 49%;
    max-width: 47%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Info Pages */

.content {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.side-image {
  width: 400px;
}
.side-image img {
  max-width: 100%;
  float: right;
  padding: 20px 0px;
}

.side-text {
  font-size: 30px;
  text-align: left;
  padding: 0px 15px;
  max-width: 66.666666%;
}
.side-text a {
  text-decoration: none;
  color: black;
}
.side-text a:hover {
  color: #a6a386;
}

@media screen and (max-width: 600px) {
  .content {
    display: block;
  }

  .side-text {
    max-width: 100%;
    text-align: left;
    /* width: 600px; */
  }

  .side-image {
    display: none;
  }
}
