img {
  display: block;
}

body {
  background-color: #6599cc;
  font-family: sans-serif;
}

#wrapper {
  max-width: 1200px;
  margin: 10px auto;
  background-color: #fff;
}

#topstripe {
  background-color: #e77051;
  color: white;

  text-align: center;
  padding: 10px 0px;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: white;
  content: center;
}

header img {
  margin: 10px auto;
  /*	display: block;*/
  width: 50%;
}

nav {
  background-color: #e77051;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  /*	justify-content: space-between;*/
  padding: 5px 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
}

#content {
  display: flex;
  background-color: #fcf;
}

aside {
  text-align: center;
}

aside img {
  width: 90.277%;
  margin: 10px auto;
}

#side-a {
  width: 30%;
  background-color: #ffc;
}

main {
  width: 40%;
  background-color: white;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

main h4 {
  color: #3caea3;
}

main p {
  text-align: left;
}

#side-b {
  width: 30%;
  background-color: #ffc;
}

footer {
  background-color: #e77051;
  color: white;

  text-align: center;
  padding: 10px 0px;
}

footer a {
  color: white;
  font-family: "Open Sans", sans-serif;
}
